@import 'constants.css';

.calendar-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--themeWhite);
    border: 1px solid var(--themeDarkish);
    border-radius: var(--themeRadius);
    overflow: hidden;
}

.month {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--themeWhite);
    padding: 1rem 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.days-row {
    display: flex;
}

.day-name, .day-cell {
    width: 10%;
    flex: 1;
    padding: .5rem;
    text-align: left;
}

.day-name {
    background-color: var(--themeWhite);
    font-weight: bold;
}

.day-cell {
    padding: .5rem;
    text-align: left;
    min-height: 80px;
    border-top: 1px solid var(--themeDarkish);
}

.day-cell.disabled {
    color: var(--themeLightish);
}

.day-number {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Highlight the current date */
.day-cell.today {
    background-color: var(--themeDarkish);
    border: 2px solid var(--themeLightish);
    border-radius: var(--themeRadius);
    font-weight: bold;
    color: #000;
}

