@import './constants.css';

.dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.dashboard-column {
    display: flex;
    width: 100%;
    flex: 1;
    min-width: .166666666666vw;
    margin: 10px;
    background-color: var(--themeLightish);
    color: var(--themeBlack);
    padding: 20px;
    border-radius: var(--themeRadius);
    box-shadow: var(--themeBlack);
}

