@import './constants.css';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--themeDarkish);
    box-shadow: var(--themeBlack);
  }
  
  .logo {
    font-size: 3rem;
    padding: 1rem;
  }
  
  .link {
    text-decoration: none;
    color: var(--themeBlack);
  }
  
  .accountBlock {
    display: flex;
    align-items: center;
    padding-right: 3rem;
  }
  
  .userIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--themeLight);
    color: var(--themeBlack);
    border: none;
    border-radius: 5px;
  }
  